.card {
  z-index: -11;
  max-width: 840px;
  margin: 0 auto;
/*  border-radius: 10px;*/
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
 border-radius: 30px;

}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}
.dropdown-menu{

  z-index: 10;

}
.card-text {
  font-size: 1.125rem;
  color: #555;
  margin-bottom: 5px;
}

.text-muted {
  color: #999;
}

.inf{

  background-color: grey;
  border-radius: 10px;
}